.container{
    padding: 1%;

    p{
        font-size: 1.2rem;
        color: #D64550;
    }

    .task.completed{
        text-decoration: line-through;
        color: #D64550;
    }

    .task{
        border-bottom: 1px solid #D64550;
        border-right: 1px solid #D64550;
        border-radius: 3px;
        padding: 3%;
        width: 100%;
    }

    .task:hover{
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border: none;
    }

}

